
<div class="jumbotron center">
  <h1>Welcome To My Pinterest App</h1>
  <p>Go ahead, interact with the app! Have Fun!! Drop us a line if you like to be involved!</p>


  <%= link_to "Login", root_path, class: 'btn btn-default' %>
  <%= link_to "Join", root_path, class: 'btn btn-primary' %>

</div>